[defaults]
inventory = inventory/dev.yml
remote_user = azureuser
private_key_file = ~/.ssh/devops_eval_key
host_key_checking = False
roles_path = ./roles
retry_files_enabled = False

[ssh_connection]
pipelining = True
